.contact-list {
  padding: 0;
  margin: 0 0 25px;
  list-style: none;
  line-height: 1;

  li {
    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  a {
    color: $light-gray;
    font-weight: 300;
    padding-left: 20px;
    position: relative;

    &:hover {
      color: $red;
    }

    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}