.section-social {
  background: $dark;
  padding: 30px 0;
}

.social-wrapper {
  border-bottom: 1px solid #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

@include media('<tablet') {
  .section-social {
    padding: 30px 0;
  }

  .social-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@include media('<tablet') {
  .section-social {
    padding: 25px 0;
  }
}
